@model Movies.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    @{ 
        try
        {
            WebMail.SmtpServer = "smtp.163.com";
            WebMail.SmtpPort = 25;
            WebMail.EnableSsl = false;
            WebMail.UserName = "youremail@163.com";
            WebMail.Password = "yourcode";
            WebMail.From = "youremail@163.com";
            WebMail.Send("youremail@youremail.com", "RSVP Notification", Model.Name + "is" + ((Model.WillAttend ?? false) ? "" : "not") + "attend");
        }
        catch
        {
            @:<b>Sorry - we couldn't send email to confirm your RSVP.</b>
        }
    }
    <div class="text-center"> 
        <h1>Thank You ,@Model.Name</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:It's great that you're coming.The drinks are already in the fridge!
        }
            else
            {
                @:Sorry to hear that you can't coming.But thanks for let us know!
        }
        </div>
    </div>
</body>
</html>
